USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 23/09/2026 2:28:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Lop] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Email], [SoDienThoai], [Lop]) VALUES (N'SV001', N'Nguyễn Văn Ánh', N'nguyenvanan@gmail.com', N'0901234567', N'CNTT01')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Email], [SoDienThoai], [Lop]) VALUES (N'SV002', N'Trần Thị Bình', N'tranthibinh@gmail.com', N'0912345678', N'CNTT02')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Email], [SoDienThoai], [Lop]) VALUES (N'SV003', N'Lê Văn Cường', N'levancuong@gmail.com', N'0923456789', N'CNTT01')
GO
